<div class="brand">
  <div class="col-md-6">
    <div class="box">
      <form action="/brands" method="post">
        <h3>Add a brand:</h3>
        <input type="text" name="brand_name">
        <button type="submit" class="btn btn-md btn-primary">Add</button>
      </form>

      <form action="/brands" method="post">
        <h3>Edit a brand name:</h3>
        <input type="hidden" name="_method" value="patch">
        Old brand name:
        <select name="brand_id">
          <% @brands.each() do |brand| %>
          <option value="<%= @brand_id %>"><%= brand.name %></option>
          <% end %>
        </select>
        <br>
        New brand name:
        <input type="text" name="new_name">
        <button type="submit" class="btn btn-md btn-success">Update</button>
      </form>

      <form action="/brands" method="post">
        <h3>Delete a brand:</h3>
        <input type="hidden" name="_method" value="delete">
        Select a brand to delete:
        <select name="brand_id">
          <% @brands.each() do |brand| %>
            <option value="<%= brand.id() %>"> <%= brand.name() %> </option>
          <% end %>
        </select>

        <button type="submit" class="btn btn-md btn-danger">Delete</button>
      </form>

    </div>
  </div>

  <div class="clol-md-6">
    <div class="box">
      <h3>Your Brands</h3>
    </div>

  </div>

</div>
