
<div class="col-md-6">
  <div class="box brand_box">
    <a href="/brands">
      BRANDS
    </a>
  </div>
</div>

<div class="col-md-6">
  <div class="box store_box">
    <a href="/stores">
      STORES
    </a>
  </div>
</div>
